body{
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.head-tag{
    float:right;
    margin-top:30px;
    margin-right:30px;
}
.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: blue;
    border: 1px solid rgb(33, 21, 194);
    padding: 8px;
    margin-right: 8px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color:blueviolet

}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(189, 43, 226)
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(226, 43, 113)
}